* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  color: #333;
  display: flex;
  min-height: 100vh;
}

/* ==== SIDEBAR ==== */
.sidebar {
  width: 220px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  box-shadow: 0 0 18px 4px rgb(206, 206, 206);
  padding: 20px;
  justify-content: center;
}

.profil {
  width: 320px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  box-shadow: 0 0 18px 4px rgb(206, 206, 206);
  padding: 20px;
  justify-content: center;
  right: 0px;
  top: 0px;
  position: absolute;
}

.logo {
  height: 150px;
  width: auto;
  margin-bottom: 30px;

}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.sidebar a.active,
.sidebar a:hover {
  background-color: #e6f0ff;
  color: #53ACD8;
}

/* ==== MAIN CONTENT ==== */
.main-content {
  flex: 1;
  padding: 30px;
}


#Post {
  display: none;
  flex-direction: column;
}


#time{
  bottom: 2vh;
  right: 2vw;
  display: flex;
  position: absolute;
}

#Poster{
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  width: 50vw;
  min-height: 15vh;
  box-shadow: 0 0 18px 4px rgb(206, 206, 206);
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 21vw;
  bottom: 2vh;
  gap: 5vw;
}

#newPost{
  width: 30vw;
  min-height: 7vh;
  border-radius: 30px;

}


/* ==== BARS POUR DISTRIBUTION ==== */
.bar-container {
  margin-bottom: 15px;
}

.bar-container span {
  display: block;
  margin-bottom: 5px;
  font-size: 0.95rem;
}

.bar {
  background-color: #cce0ff;
  height: 24px;
  line-height: 24px;
  padding-left: 10px;
  color: #003366;
  font-weight: bold;
  border-radius: 4px;
  transition: width 0.5s ease;
}
